<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="footer">
<meta charset="utf-8">

<title>Emprendimientos Ya!</title>
</head>
<body>
	<footer class="py-4 bg-light mt-auto">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Emprendimientos Ya! 2021</div>
                <div>
                    <a href="#">Políticas de privacidad</a>
                    &middot;
                    <a href="#">Terminos y Condiciones</a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>