<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Emprendimientos Ya!</title>
        <link href="css/styles.css" rel="stylesheet" />
        <link href="css/profileStyle.css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
	<header th:replace="layout/header :: header"></header>
        <div id="layoutSidenav">
	        <div th:replace="Layout/body :: body"></div>
	        <div id="layoutSidenav_content">
	            <main>
					<div class="container-fluid">
						<ol class="breadcrumb mb-4">
                    		<li class="breadcrumb-item active"><b>Todas las Empresas!</b></li>
                 		</ol>
					    <div class="card mb-4">
	                        <div class="card-body">
	                            <div class="table-responsive">
	                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
	                                    <thead>
	                                        <tr>
	                                            <th>Nombre</th>
	                                            <th>Correo</th>
	                                            <th>Direccion</th>
	                                            <th><center>Teléfono</center></th>
	                                            <th>Rubro</th>
	                                        </tr>
	                                    </thead>
	                                    <tbody>
	                                    	<tr th:each="comp: ${companies}">
	                                    		<td> <a th:href="|@{/companyDetail/{id}(id=${comp.idCliente})}|"><label th:text="${comp.nombre}"></label></a></td>
	                                    		<td th:text="${comp.correo}"/>
	                                    		<td th:text="${comp.direccion}"/>
	                                    		<td style="text-align: center" th:text="${comp.telefono}"/>
	                                    		<td>
	                                    			<label th:if="${comp.rubro==1}">Restaurante</label>
	                                    			<label th:if="${comp.rubro==2}">Cafetería</label>
	                                    			<label th:if="${comp.rubro==3}">Delivery</label>
	                                    			<label th:if="${comp.rubro==4}">Negocio Pequeño</label>
	                                    			<label th:if="${comp.rubro==5}">Otros</label>
	                                    		</td>
	                                    	</tr>
	                                    </tbody>
	                                </table>
	                            </div>
	                        </div> 
	                    </div>
				    </div>
	            </main>
	            <footer  th:replace="Layout/footer :: footer">
	            </footer>
	         </div>
	         
	     </div>
	     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/datatables-demo.js"></script>
</body>
</html>