<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Emprendimientos Ya!</title>
        <link href="css/styles.css" rel="stylesheet" />
        <link href="css/tableStyle.css" rel="stylesheet"/>
        <link href="css/dishStyle.css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="css/profileStyle.css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
	<header th:replace="layout/header :: header"></header>
        <div id="layoutSidenav">
	        <div th:replace="Layout/body :: body"></div>
	        <div id="layoutSidenav_content">
	            <main>
					<div class="container">
						<div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Selecciona los platillos a agregar al evento</h3></div>
	                                   	<div class="card-body">
                                        	<div align=center class="form-group">
                                            	<div class="col-md-6">
	                                        		<div class="form-group">
	                                        			<form action="addDishEvent" th:action="@{addDishEvent}" th:object="${dish}" method="post">
		                                            		<label class="small mb-1" for="inputRol">*Seleccione un platillo</label>
		                                                	<select th:field="*{id}" class="form-control" name="rolUserSelection" id="rol">
		                                                		<option value="1000" selected disabled>Seleccione un Platillo...</option>
		                                                		<option th:each="dishesUnselected: ${dishesUnselected}" 
		                                                				th:value="${dishesUnselected.id}" 
		                                                				th:text="${dishesUnselected.nombre}"></option>
		                                                	</select>
		                                                	<button  class="btn btn-primary btn-block" type="submit">Agregar a evento</button>
	                                                	</form>
	                                            	</div>
                                            	</div>
                                            	<table cellpadding="0"  id="example" name="dataTable" width="85%">
				                                    <thead>
				                                        <tr>
				                                            <th>Nombre</th>
				                                            <th>Descripción</th>
				                                            <th></th>
				                                        </tr>
				                                    </thead>
				                                    <tbody>
				                                    	<tr th:each="dishesSelected: ${dishesSelected}">
				                                    		<td th:text="${dishesSelected.nombre}"/>
				                                    		<td th:text="${dishesSelected.descripcion}"/>
				                                    		<td><a th:href="|@{/removeDish/{id}(id=${dishesSelected.id})}|"><i class="material-icons">remove</i></a></td>
				                                    	</tr>
				                                    </tbody>
				                                </table>
				                                <div class="form-row">
		                                            <div class="col-md-4">
			                                            <div class="form-group mt-4 mb-0">
			                                            	<button type="button" class="btn btn-primary btn-block" onClick="location.href='myEvents.html'">Cancelar</button>
			                                            </div>
			                                        </div>
			                                        <div class="col-md-4">
			                                            <div class="form-group mt-4 mb-0">
			                                            	<button class="btn btn-primary btn-block" onClick="openForm()">Agregar nuevo platillo</button>
				                                            <div class="form-popup" id="myForm">	
				                                            	<form action="addNewDish" th:action="@{addNewDish}" th:object="${newDish}" method="post" class="form-container">
				                                            		<h1>Nuevo platillo</h1>
				                                            		<label for="nombre"><b>Nombre del platillo</b></label>
				                                            		<input th:field="*{nombre}" type="text" placeholder="Ej. Tallarines con salsa bolognesa" name="nombre" required>
				                                            		
				                                            		<label for="descripcion"><b>Descripción</b></label>
				                                            		<input th:field="*{descripcion}" type="text" placeholder="Ej. Tallarines al dente con salsa de tomate" name="descripcion" required>
				                                            		
				                                            		<button type="submit" class="btn">Agregar</button>
				                                            		<button type="button" class="btn cancel" onClick="closeForm()">Cerrar</button>
				                                            	</form>
				                                            </div>
			                                            </div>
			                                        </div>
			                                        <div class="col-md-4">
			                                            <div class="form-group mt-4 mb-0">
			                                            	<button onClick="eventCreateForm.html" class="btn btn-primary btn-block">Continuar</button>
			                                            </div>
			                                        </div>
		                                        </div>
                                   			</div>
	                               	 	</div>
	                           	 	</div>
	                        	</div>
	                    	</div>
				    	</div>
	            </main>
	            <footer  th:replace="Layout/footer :: footer">
	            </footer>
	         </div>
	         
	     </div>
	     <script>
	     	function openForm(){
	     		document.getElementById("myForm").style.display = "block";
	     	}
	     	
	     	function closeForm(){
	     		document.getElementById("myForm").style.display = "none";
	     	}
		</script>
		<script>
			$(document).ready(function() {
			$('table#example').DataTable({
  			  
	   		 "searching": false });
			});
		</script>
	     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/datatables-demo.js"></script>
</body>
</html>