<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Emprendimientos Ya!</title>
        <link href="css/styles.css" rel="stylesheet" />
        <link href="css/tableStyle.css" rel="stylesheet"/>
        <link href="css/profileStyle.css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <header th:replace="layout/header :: header"></header>
        <div id="layoutSidenav">
	        <div th:replace="Layout/body :: body"></div>
	        <div id="layoutSidenav_content">
	            <main>
	                <div class="container">
	                	<h1 class="mt-4">Información</h1>
	                    <div class="card mb-4">
	                        <div class="card-body">
	                            <div class="table-responsive">
	                            	<ol class="breadcrumb mb-4">
			                    		<li class="breadcrumb-item active"><b>Datos generales</b></li>
			                 		</ol>
			                 		<center><label for="inputName">A coninuación, se presentan datos relevantes concernientes a los platillos ofrecidos en el portal web</label></center>
			                 		<hr>
	                                <table cellpadding="0"  id="example" name="dataTable" width="85%">
	                                    <thead>
	                                        <tr>
	                                            <th>Nombre del Platillo</th>
	                                            <th style="text-align:center">Aparición</th>
	                                            <th style="text-align:center">Aparición(%)</th>
	                                            <th style="text-align:center">Promedio de Precio</th>
	                                        </tr>
	                                    </thead>
	                                    <tbody>
	                                    	<tr th:each="genDish: ${generalDishes}">
	                                    		<td th:text="${genDish.nombrePlatillo}"/>
	                                    		<td style="text-align:center" th:text="${genDish.contVecesUso}"/>
	                                    		<td style="text-align:center" th:text="${genDish.totalDishes} +'%'"/>
	                                    		<td style="text-align:right" th:text="'$'+${genDish.contPrecio}"/>
	                                    	</tr>
	                                    </tbody>
	                                </table>
	                                <hr>
	                            </div>
	                        </div> 
	                    </div>
	                </div>
	            </main>
	            <footer  th:replace="Layout/footer :: footer">
	            </footer>
	        </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/datatables-demo.js"></script>
    </body>
</html>