<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Emprendimientos Ya!</title>
        <link href="css/styles.css" rel="stylesheet" />
        <link href="css/tableStyle.css" rel="stylesheet"/>
        <link href="css/profileStyle.css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <header th:replace="layout/header :: header"></header>
        <div id="layoutSidenav">
	        <div th:replace="Layout/body :: body"></div>
	        <div id="layoutSidenav_content">
	            <main>
	                <div class="container">
	                	<h1 class="mt-4">Información</h1>
	                    <div class="card mb-4">
	                        <div class="card-body">
	                            <div class="table-responsive">
	                                <ol class="breadcrumb mb-4">
			                    		<li class="breadcrumb-item active"><b>Datos de la Empresa</b></li>
			                 		</ol>
			                 		<div class="card-body">
			                 			<div align=center class="form-group">
			                 			
					                 		<div class="form-row">
		                                       	<div class="col-md-4">
		  											<div class="form-group">
		                                               <label class="small mb-1" for="inputName">Cantidad de Eventos Terminados</label>
		                                               <input style="text-align:center" class="form-control py-4"  type="text" th:value="${cantEventosTerminados}" name="cantEventosInfo" readonly/>
		                                   			</div>
		                                   		</div>
		                                   		<div class="col-md-4">
			                                   		<div class="form-group">
		                                              	<label class="small mb-1" for="inputNameComp">Cantidad de Eventos Vigentes</label>
		                                              	<input style="text-align:center" class="form-control py-4"  type="text" th:value="${cantEventosVigentes}" name="cantEventosVInfo" readonly/>
		                                  			</div>
		                                  		</div>
		                                  		<div class="col-md-4">
			                                  		<div class="form-group">
				                                        <label class="small mb-1" for="inputAddress">Promedio de Ventas</label>
				                                        <input style="text-align:center" class="form-control py-4"  type="text" th:value="${promVentas}" name="promVentasInfo" readonly/>
				                               		</div>
			                               		</div>
			                               		<!-- <div class="col-md-3">
				                               		<div class="form-group">
				                                         <label class="small mb-1" for="inputDescription">Promedio de Precios</label>
				                                         <input style="text-align:center" class="form-control py-4"  type="text" th:value="'$'+${promPrecios}" name="promPreciosIngo" readonly/>
				                               		</div>
			                               		</div>
			                               		 -->
		                                  	</div>
	                               		</div>
	                               		
                               		</div>
                               		<hr>
                               		<center><label class="small mb-1" for="inputName">*Eventos Vigentes</label></center>
                               		<table style="text-align:center" title="Eventos terminados" cellpadding="0"  id="example2" name="dataTable2" width="95%">
	                                    <thead>
	                                        <tr>
	                                            <th>Nombre del Evento</th>
	                                            <th>Descripcion</th>
	                                            <th><center>Fecha Término</center></th>
	                                            <th><center>Precio</center></th>
	                                            <th><center>Cantidad Porciones</center></th>
	                                        </tr>
		                                    </thead>
		                                    <tbody>
		                                    	<tr th:each="eventsEna: ${userEventsEna}">
		                                    		<td th:text="${eventsEna.nombre}"/>
		                                    		<td th:text="${eventsEna.descripcion}"/>
		                                    		<td style="text-align:center" th:text="${eventsEna.fechaTermino}"/>
		                                    		<td style="text-align:right" th:text="'$'+${eventsEna.precio}"/>
		                                    		<td style="text-align:center" th:text="${eventsEna.cantidad}"/>
		                                    	</tr>
		                                    </tbody>
	                                </table>
	                                <hr>
	                                <center><label class="small mb-1" for="inputName">*Eventos Terminados</label></center>
                               		<table style="text-align:center" title="Eventos terminados" cellpadding="0"  id="example" name="dataTable" width="95%">
	                                    <thead>
	                                        <tr>
	                                            <th>Nombre del Evento</th>
	                                            <th>Descripcion</th>
	                                            <th><center>Fecha Término</center></th>
	                                            <th><center>Precio</center></th>
	                                            <th><center>Cantidad Porciones</center></th>
	                                        </tr>
		                                    </thead>
		                                    <tbody>
		                                    	<tr th:each="eventsDis: ${userEventsDis}">
		                                    		<td th:text="${eventsDis.nombre}"/>
		                                    		<td th:text="${eventsDis.descripcion}"/>
		                                    		<td style="text-align:center" th:text="${eventsDis.fechaTermino}"/>
		                                    		<td style="text-align:right" th:text="'$'+${eventsDis.precio}"/>
		                                    		<td style="text-align:center" th:text="${eventsDis.cantidad}"/>
		                                    	</tr>
		                                    </tbody>
	                                	</table>
	                                	<hr>
	                            </div>
	                        </div> 
	                    </div>
	                </div>
	            </main>
	            <footer  th:replace="Layout/footer :: footer">
	            </footer>
	        </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/datatables-demo.js"></script>
    </body>
</html>