<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Emprendimientos Ya!</title>
        <link href="css/styles.css" rel="stylesheet" />
        <link href="css/profileStyle.css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
	<header th:replace="layout/header :: header"></header>
        <div id="layoutSidenav">
	        <div th:replace="Layout/body :: body"></div>
	        <div id="layoutSidenav_content">
	            <main>
					<div class="container">
						<div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
									<div class="card-header"><h3 class="text-center font-weight-light my-4">Editando Datos Personales</h3></div>
									<div class="card-body">
										<form action="profileEditing" th:action="@{/profileEditing}" th:object="${userEdit}" method="post">
					                        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
												<p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>    
											</div>
											<div class="form-row">
												<div class="col-md-6">
													<div class="form-group">
							                             <label class="small mb-1" for="inputName" th:if="${session.user.rol==1}">*Nombre y Apellidos</label>
							                             <label class="small mb-1" for="inputName" th:if="${session.user.rol==2}">*Nombre de la Empresa</label>
							                             <input class="form-control py-4"  type="text" th:field="*{nombre}" name="nameEDit" maxlength="100" th:placeholder="${session.user.nombre}" required/>
							                 		</div>
					                        	</div>
					                            <div class="col-md-6">
					                            	<div class="form-group">
					                           			<label class="small mb-1" for="inputPhoneNumber" th:if="${session.user.rol==1}">*Teléfono de Contacto</label>
					                           			<label class="small mb-1" for="inputPhoneNumber" th:if="${session.user.rol==2}">*Teléfono de la Empresa</label>
					                            		<input class="form-control py-4" type="tel" th:field="*{telefono}" name="telefonoEdit" required pattern="[0-9]{8}" maxlength="8" th:placeholder="'+569 '+${session.user.telefono}"/>
					                        		</div>
					                        	</div>
					                        </div>
					                        <div th:if="${session.user.rol==1}" class="form-group">
					                        	<label class="small mb-1" for="inputEmailAddress">*Correo</label>
					                        	<input class="form-control py-4" type="email" th:field="*{correo}" name="emailEDit" th:placeholder="${session.user.correo}" required/>
					                        </div>
					                        <div th:if="${session.user.rol==2}" class="form-row">
					                        	<div class="col-md-6">
							                        <div class="form-group">
							                        	<label class="small mb-1" for="inputEmailAddress" th:if="${session.user.rol==1}">*Correo</label>
							                        	<label class="small mb-1" for="inputEmailAddress" th:if="${session.user.rol==2}">*Correo de la Empresa</label>
							                        	<input class="form-control py-4" type="email" th:field="*{correo}" name="emailEDit" th:placeholder="${session.user.correo}" required/>
							                        </div>
						                        </div>
						                        <div class="col-md-6">
	                                            	<div class="form-group">
	                                            		<label class="small mb-1" for="inputRubro">*Rubro</label>
	                                            		<select th:field="*{rubro}" class="form-control" name="rubroSelection" id="rubroSelection" required>
	                                            			<option value="5" selected>Otro</option>
	                                            			<option value="1">Restaurante</option>
	                                            			<option value="2">Cafetería</option>
	                                            			<option value="3">Delivery</option>
	                                            			<option value="4">Negocio pequeño</option>
	                                            		</select>
	                                            	</div>
	                                            </div>
					                        </div>
					                        <div class="form-group">
					                            <label class="small mb-1" for="inputAddress" th:if="${session.user.rol==1}">*Dirección</label>
					                            <label class="small mb-1" for="inputAddress" th:if="${session.user.rol==2}">*Dirección de la Empresa</label>
					                            <input class="form-control py-4" type="text" th:field="*{direccion}" name="addressEdit" required maxlength="200" th:placeholder="${session.user.direccion}" />
					                        </div>
					                        <div  th:if="${session.user.rol==2}"  class="form-row">
					                        	<div class="col-md-4">
							                        <div class="form-group">
							                               <label class="small mb-1" for="inputPassword">*URL Sitio Web de la Empresa</label>
							                               <input class="form-control py-4" type="text" th:field="*{link1}" name="link1Edit" th:placeholder="${session.user.link1}"/>
							                        </div>
					                        	</div>
					                        	<div class="col-md-4">
							                        <div class="form-group">
							                               <label class="small mb-1" for="inputPassword">*@ Instagram</label>
							                               <input class="form-control py-4" type="text" th:field="*{link2}" name="link2Edit" th:placeholder="'@'+${session.user.link2}"/>
							                        </div>
						                        </div>
						                        <div class="col-md-4">
							                        <div class="form-group">
							                               <label class="small mb-1" for="inputPassword">*@ Facebook</label>
							                               <input class="form-control py-4" type="text" th:field="*{link3}" name="link3Edit" th:placeholder="'/'+${session.user.link3}"/>
							                        </div>
						                        </div>
					                        </div>
					                        <div  th:if="${session.user.rol==1}"  class="form-row">
					                        	<div class="col-md-6">
							                        <div class="form-group">
							                               <label class="small mb-1" for="inputPassword">*@ Instagram</label>
							                               <input class="form-control py-4" type="text" th:field="*{link2}" name="link2Edit" th:placeholder="'@'+${session.user.link2}"/>
							                        </div>
						                        </div>
						                        <div class="col-md-6">
							                        <div class="form-group">
							                               <label class="small mb-1" for="inputPassword">*/ Facebook</label>
							                               <input class="form-control py-4" type="text" th:field="*{link3}" name="link3Edit" th:placeholder="'/'+${session.user.link3}"/>
							                        </div>
						                        </div>
					                        </div>
					                        <div class="form-row">
					                        	<div class="col-md-6">
						                        	<div class="form-group mt-4 mb-0">
						                          		<button type="submit" class="btn btn-primary btn-block" onClick="history.back()">Cancelar</button>
						                          	</div>
						                      	</div>
						                      	<div class="col-md-6">
						                          	<div class="form-group mt-4 mb-0">
						                          		<button type="submit" class="btn btn-primary btn-block">Guardar Cambios</button>
						                          	</div>
						                      	</div>
					                     	</div>
					                   </form>
	                   				</div>
	                   			</div>
	                   		</div>
	                   </div>
				    </div>
	            </main>
	         </div>
	     </div>
	     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/datatables-demo.js"></script>
</body>
</html>