<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Registro de Usuario</title>
        <link href="css/styles.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Regístrate!</h3></div>
	                                   	<div class="card-body">
	                                        	<div align=center class="form-group">
		                                        	<!--
		                                        	<div class="col-md-6">
		                                        		<div class="form-group">
		                                            		<label class="small mb-1" for="inputRol">*Su propósito en la página</label>
		                                                	<select class="form-control" th:field="*{rol}" name="rolUserSelection" id="rolUserSelection">
		                                                		<option value="0" disabled>Seleccione una opción..</option>
		                                                		<option value="1"> Quiero comprar productos</option>
		                                                		<option value="2"> Quiero ofrecer mis productos</option>
		                                                	</select>
		                                            	</div>
		                                            </div>
		                                            <div class="col-md-6">
			                                            <div class="form-group mt-4 mb-0">
			                                            	<button type="submit" class="btn btn-primary btn-block">Seleccionar</button>
			                                            </div>
	                                            	</div> -->
	                                            	<div class="col-md-6">
		                                        		<div class="form-group">
		                                            		<label class="small mb-1" for="inputRol">*Su propósito en la página</label>
		                                                	<select class="form-control" name="rolUserSelection" id="rol">
		                                                		<option value="0" selected disabled>Seleccione una opción..</option>
		                                                		<option value="cliente"> Quiero comprar productos</option>
		                                                		<option value="empresa"> Quiero ofrecer mis productos</option>
		                                                	</select>
		                                            	</div>
	                                            	</div>
	                                            </div>
                                        <div class="data" id="cliente">
	                                        <form action="clientRegistering" th:action="@{/clientRegistering}" th:object="${user}" method="post">
	                                            <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
	    											<p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>    
			  									</div>
				  									<div class="form-group">
		                                                <label class="small mb-1" for="inputName">*Nombre y Apellidos</label>
		                                                <input class="form-control py-4"  type="text" th:field="*{nombre}" name="nameUserRegister" maxlength="100" placeholder="Nombre y Apellido" required/>
		                                    		</div>
		                                            <div class="form-row">
		                                            	<div class="col-md-6">
		                                            		<div class="form-group">
		                                                		<label class="small mb-1" for="inputRUT">*RUT</label>
		                                               			<input class="form-control py-4"  type="text" th:field="*{rut}" name="rutUserRegister" pattern="\d{1,2}(\.|\s| |-|)\d{3}(\.|\s| |-|)\d{3}(\.|-| |)(\d{1}|[kK])" placeholder="Ej. 11.111.111-1" required/>
		                                        			</div>
		                                            	</div>
		                                                <div class="col-md-6">
		                                                	<div class="form-group">
		                                               			<label class="small mb-1" for="inputPhoneNumber">*Teléfono de Contacto</label>
		                                                		<input class="form-control py-4" type="tel" th:field="*{telefono}" name="telefonoUserRegister" required pattern="[0-9]{8}" maxlength="8" placeholder="Ej. 123456789"/>
		                                            		</div>
		                                            	</div>
		                                            </div>
		                                            <div class="form-group">
		                                            	<label class="small mb-1" for="inputEmailAddress">*Correo</label>
		                                            	<input class="form-control py-4" type="email" th:field="*{correo}" name="emailUserRegister" placeholder="Ej. nombre@dominio.com" required/>
		                                            </div>
		                                            
		                                            <div class="form-group">
		                                                <label class="small mb-1" for="inputAddress">*Dirección</label>
		                                                <input class="form-control py-4" type="text" th:field="*{direccion}" name="addressUserRegister" required maxlength="200" placeholder="Ej. Ciudad, Calle, Número" />
		                                            </div>
		                                            <div class="form-group">
		                                                   <label class="small mb-1" for="inputPassword">*Contraseña</label>
		                                                   <input class="form-control py-4" type="password" th:field="*{password}" name="passwordUserRegister" placeholder="Mín. 8 caractéres" required/>
		                                            </div>
		                                            <div class="form-row">
			                                            <div class="col-md-6">
				                                            <div class="form-group mt-4 mb-0">
				                                            	<button type="submit" class="btn btn-primary btn-block" onClick="history.back()">Volver</button>
				                                            </div>
				                                        </div>
				                                        <div class="col-md-6">
				                                            <div class="form-group mt-4 mb-0">
				                                            	<button type="submit" class="btn btn-primary btn-block">Crear Cuenta</button>
				                                            </div>
				                                        </div>
			                                        </div>
	                                        </form>
                                        </div>
                                        <div class="data" id="empresa">
	                                        <form action="companyRegistering" th:action="@{/companyRegistering}" th:object="${user}" method="post">
	                                            <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
	    											<p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>    
			  									</div>
			  									<div class="form-group">
		                                                <label class="small mb-1" for="inputName">*Nombre de la Empresa</label>
		                                                <input class="form-control py-4"  type="text" th:field="*{nombre}" name="nameUserRegister" maxlength="100" placeholder="Nombre de la Empresa" required/>
		                                    		</div>
		                                            <div class="form-row">
		                                            	<div class="col-md-6">
		                                            		<div class="form-group">
		                                                		<label class="small mb-1" for="inputRUT">*RUT de la Empresa</label>
		                                               			<input class="form-control py-4"  type="text" th:field="*{rut}" name="rutUserRegister" pattern="\d{1,2}(\.|\s| |-|)\d{3}(\.|\s| |-|)\d{3}(\.|-| |)(\d{1}|[kK])" placeholder="Ej. 11.111.111-1" required/>
		                                        			</div>
		                                            	</div>
		                                                <div class="col-md-6">
		                                                	<div class="form-group">
		                                               			<label class="small mb-1" for="inputPhoneNumber">*Teléfono de Contacto</label>
		                                                		<input class="form-control py-4"  type="tel" th:field="*{telefono}" name="telefonoUserRegister" required pattern="[0-9]{8}" maxlength="8" placeholder="Ej. 123456789" />
		                                            		</div>
		                                            	</div>
		                                            </div>
		                                            <div class="form-row">
		                                            	<div class="col-md-6">
				                                            <div class="form-group">
				                                            	<label class="small mb-1" for="inputEmailAddress">*Correo de la Empresa</label>
				                                            	<input class="form-control py-4" type="email" th:field="*{correo}" name="emailUserRegister" placeholder="Ej. nombre@dominio.com" required/>
				                                            </div>
			                                            </div>
			                                            <div class="col-md-6">
			                                            	<div class="form-group">
			                                            		<label class="small mb-1" for="inputRubro">*Rubro</label>
			                                            		<select th:field="*{rubro}" class="form-control" name="rubroSelection" id="rubroSelection" required>
			                                            			<option value="5" selected>Otro</option>
			                                            			<option value="1">Restaurante</option>
			                                            			<option value="2">Cafetería</option>
			                                            			<option value="3">Delivery</option>
			                                            			<option value="4">Food Truck</option>
			                                            		</select>
			                                            	</div>
			                                            </div>
		                                            </div>
		                                            <div class="form-group">
		                                                <label class="small mb-1" for="inputAddress">*Dirección de la Empresa</label>
		                                                <input class="form-control py-4" type="text" th:field="*{direccion}" name="addressUserRegister" required maxlength="200" placeholder="Ej. Ciudad, Calle, Número" />
		                                            </div>
		                                            <div class="form-group">
		                                                   <label class="small mb-1" for="inputPassword">*Contraseña</label>
		                                                   <input class="form-control py-4" type="password" th:field="*{password}" name="passwordUserRegister" placeholder="Mín. 8 caractéres" required/>
		                                            </div>
		                                            <div class="form-row">
			                                            <div class="col-md-6">
				                                            <div class="form-group mt-4 mb-0">
				                                            	<button type="submit" class="btn btn-primary btn-block" onClick="history.back()">Volver</button>
				                                            </div>
				                                        </div>
				                                        <div class="col-md-6">
				                                            <div class="form-group mt-4 mb-0">
				                                            	<button type="submit" class="btn btn-primary btn-block">Crear Cuenta</button>
				                                            </div>
				                                        </div>
			                                        </div>
	                                        </form>
                                        </div>
                                    </div>
                                    <div class="card-footer text-center">
                                        <div class="small"><a href="login.html">¿Ya tienes cuenta? ¡Inicia sesión!</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer  th:replace="Layout/footer :: footer">
                </footer>
            </div>
        </div>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
        	$(document).ready(function(){
        		$("#rol").on('change', function(){
        			$(".data").hide();
        			$("#" + $(this).val()).show();
        		}).change();
        	});
        </script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        
        
        
    </body>
</html>